<div class="umb-dialog umb-pane" ng-controller="Our.Umbraco.Nexu.MediaDeleteController">
    <umb-load-indicator ng-if="isLoading">
    </umb-load-indicator>
    <div class="umb-dialog-body" auto-scale="90" ng-hide="isLoading">

        <div ng-if="!isLoading && links.length > 0">
            <nexu-relation-list relations="links" show-language="showlanguage" items-per-page="itemsPerPage" />
        </div>

        <p class="umb-abstract"  ng-if="!preventDelete">
            <localize key="defaultdialogs_confirmdelete">Are you sure you want to delete</localize> <strong>{{currentNode.name}}</strong> ?
        </p>

        <div ng-if="descendantsHaveLinks" class="umb-alert">
            <localize key="nexu_descendantsWarning"></localize>
        </div>

        <umb-confirm ng-if="!preventDelete" on-confirm="performDelete" confirm-button-style="danger" on-cancel="close"></umb-confirm>

        <umb-confirm ng-if="preventDelete" confirm-button-style="danger" on-cancel="close"></umb-confirm>


    </div>
</div>
