<div>
    <p>
    The current item is linked from one of the items below. Unpublishing or deleting this item will cause your site to have broken links or images
    </p>
</div>

<div class="umb-table nexu-table" ng-if="vm.ungrouped">
    <div class="umb-table-head">
        <div class="umb-table-row">
            <div class="umb-table-cell not-fixed">
                Item
            </div>
            <div class="umb-table-cell">
                Property
            </div>
            <div class="umb-table-cell">
                Group
            </div>
            <div class="umb-table-cell">
                Status
            </div>
            <div class="umb-table-cell" ng-if="vm.showLanguageColumn">
                Language
            </div>
        </div>
    </div>

    <div class="umb-table-body" ng-if="vm.ungrouped">

        <div class="umb-table-row" ng-repeat="item in vm.ungrouped" ng-click="vm.openContent(item)">
            <div class="umb-table-cell not-fixed">
                {{item.name}}
            </div>
            <div class="umb-table-cell">
                {{item.propertyname}}
            </div>
            <div class="umb-table-cell">
                {{item.tabname}}
            </div>
            <div class="umb-table-cell">
                {{item.status}}
            </div>
            <div class="umb-table-cell" ng-if="vm.showLanguageColumn">
                {{item.language}}
            </div>
        </div>

    </div>
</div>