<div class="umb-dialog umb-pane" ng-controller="Our.Umbraco.Nexu.ContentDeleteController">
    <div class="umb-dialog-body" auto-scale="90">
        
        <nexu-links links="links" title="This page is linked to from following items "></nexu-links>

        <p class="umb-abstract">
            <localize key="defaultdialogs_confirmdelete">Are you sure you want to delete</localize> <strong>{{currentNode.name}}</strong> ?
        </p>

        <umb-confirm ng-hide="isLoading" on-confirm="performDelete" on-cancel="cancel">
        </umb-confirm>

    </div>
</div>
