<div ng-controller="Our.Umbraco.Nexu.DashboardController">
    <div ng-hide="isLoading">
        <div ng-hide="RebuildStatus.IsProcessing">            
            <div class="btn-group">
                <a class="btn"  ng-click="rebuild()" prevent-default>
                    Rebuild nexu relations
                </a>
            </div>
        </div>
        <div ng-show="RebuildStatus.IsProcessing">
            <p>Rebuilding nexu relations in progress ({{RebuildStatus.ItemsProcessed}} items processed)</p>
            <p>Currently processing item {{RebuildStatus.ItemName}}</p>
        </div>
    </div>
</div>