<div ng-controller="Our.Umbraco.Nexu.DashboardController">
    <div ng-hide="isLoading">
        <div>
            <p>Deleting of used content is <span ng-if="preventDelete">prevented</span><span ng-if="!preventDelete">enabled</span></p>
            <p>Unpublishing of used content is <span ng-if="preventUnPublish">prevented</span><span ng-if="!preventUnPublish">enabled</span></p>
        </div>
        <div ng-hide="RebuildStatus.IsProcessing">
            <div class="btn-group">
                <a class="btn" ng-click="rebuild()" prevent-default>
                    <localize key="nexu_dashboardRebuild">Rebuild nexu relations</localize>
                </a>
            </div>
        </div>
        <div ng-show="RebuildStatus.IsProcessing">
            <p><localize key="nexu_dashboardRebuildInProgress">Rebuilding nexu relations in progress</localize> ({{RebuildStatus.ItemsProcessed}} <localize key="nexu_dashboardItemsProcessed">items processed</localize>)
            </p>
            <p><input type="checkbox" ng-model="autoRefresh" ng-checked="autoRefresh"/> <localize key="nexu_dashboardAutorefresh">Auto-refresh every 5 seconds</localize>
            </p>
            <p ng-hide="autoRefresh">
                <a class="btn" ng-click="getRebuildStatus()" prevent-default>
                    <localize key="nexu_dashboardRefresh">Refresh status</localize>
                </a>
            </p>

        </div>
    </div>
</div>