<div ng-controller="Our.Umbraco.Nexu.DashboardController">
    <div ng-hide="isLoading">
        <div ng-hide="RebuildStatus.IsProcessing">            
            <div class="btn-group">
                <a class="btn"  ng-click="rebuild()" prevent-default>
                    Rebuild nexu relations
                </a>
            </div>
        </div>
        <div ng-show="RebuildStatus.IsProcessing">
            <p>Rebuilding nexu relations in progress ({{RebuildStatus.ItemsProcessed}} items processed)</p>
            <p><input type="checkbox" ng-model="autoRefresh" ng-checked="autoRefresh"/> Auto-refresh every 5 seconds
            </p>
            <p ng-hide="autoRefresh">
                <a class="btn" ng-click="getRebuildStatus()" prevent-default>
                    Refresh status
                </a>
            </p>

        </div>
    </div>
</div>