<div class="umb-dialog umb-pane" ng-controller="Our.Umbraco.Nexu.MediaDeleteController">
    <div class="umb-dialog-body" auto-scale="90">

        <nexu-links links="links" link-clicked="cancel" title="nexu_linksTitleMedia"></nexu-links>

        <p class="umb-abstract">
            <localize key="defaultdialogs_confirmdelete">Are you sure you want to delete</localize> <strong>{{currentNode.name}}</strong> ?
        </p>

        <umb-confirm ng-hide="isLoading" on-confirm="performDelete" on-cancel="cancel">
        </umb-confirm>

    </div>
</div>