<div class="umb-dialog umb-pane" ng-controller="Our.Umbraco.Nexu.MediaDeleteController">
    <umb-load-indicator ng-if="isLoading">
    </umb-load-indicator>

        <div class="umb-dialog-body" auto-scale="90" ng-hide="isLoading">

            <nexu-links links="links" link-clicked="cancel" title="nexu_linksTitleMedia"></nexu-links>

            <span ng-if="descendantsHaveLinks">There are links in the children</span>

            <p class="umb-abstract" ng-hide="isLoading">
                <localize key="defaultdialogs_confirmdelete">Are you sure you want to delete</localize> <strong>{{currentNode.name}}</strong> ?
            </p>

            <umb-confirm on-confirm="performDelete" on-cancel="cancel" ng-hide="isLoading">
            </umb-confirm>

        </div>
</div>